
@{
    ViewData["Title"] = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cars are cool</h2>
<p>
    Here you can register some cars.
</p>
<p>
    <a asp-controller="CarRegistration" asp-view="Index">Go to the car register page.</a>
</p>

